# Python Ignored Files

python/*/.idea
python/*/__pycache__
python/*/*/__pycache__
python/*/.DS_Store

python/dataFiles/trained_model.zip
python/dataFiles/Weapons_and_Test_Threats.xlsx

# python/*/Tests




#  Simulation Ignored Files

simulation/**/.vscode
simulation/**/ROS2swarm
simulation/**/rosbag_*
simulation/**/log
simulation/**/build  
simulation/**/install
