# Python Ignored Files

**/.idea
**/__pycache__
**/*/__pycache__
**/.DS_Store

**/dataFiles/trained_model.zip
**/dataFiles/Weapons_and_Test_Threats.xlsx

# python/*/Tests




#  Simulation Ignored Files

**/.vscode
**/ROS2swarm_B
**/rosbag_*
**/log
**/build  
**/install
